.powerbi-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 62.7907%; /* Ratio real: 1080 / 1720 */
    overflow: hidden;
    border-bottom: 1px solid #eee;
    background-color: var(--bg-light);
}

.powerbi-scaler {
    position: absolute;
    top: 0;
    left: 0;
    width: 1720px;
    height: 1080px; /* Dimensiones reales del lienzo en Power BI */
    transform-origin: top left;
}
